<ion-view view-title="Blog">
  <ion-content>
      <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()">
    </ion-refresher>
  <div class="list card" ng-repeat="post in posts">

  <div class="item">
    <h2>{{post.title.rendered}}</h2>
    <p>{{post.date | date:'medium'}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" ng-src="{{post._embedded['wp:featuredmedia'][0].source_url}}">
    <div ng-bind-html="post.excerpt.rendered">
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

</div>
  </ion-content>
</ion-view>