<ion-view cache-view="false" view-title="{{'CART'| translate }}">
  <ion-content>
    <div ng-if="items ==null || items.length < 1" class="card">
      <div class="center">
        <i class="ion-ios-cart-outline cart-icon"></i>
      </div>
      <div class="item item-divider center">
        {{'EMPTY_CART'| translate }}
      </div>
    </div>
    <ion-list can-swipe="true" ng-if="items != []">
      <ion-item ng-repeat="item in items track by $index">
        <div class="row">
          <div class="col col-75">
             <h2>{{item.name}}</h2>
             <div ng-bind-html="item.description"></div>
                  <div ng-repeat="addon in item.addons">
                      + <label ng-bind-html="addon">
                  </div>
          </div>
            <div class="col text-right">
              <label>{{item.quantity}} x {{item.price | number : 2}} DKK</label>
            </div>
        </div>
        
        
        <ion-option-button class="button-assertive" ng-click="removeItem($index)">
          <span class="ion ion-trash-a"></span>
          Remove
        </ion-option-button>
      </ion-item>
    </ion-list>
    <div ng-init="fireEvent()" ng-if="items.length > 0">
        <div class="item item-divider" ng-if="shipping_methods">
          {{'SHIPPING'| translate }}
        </div>
      <ion-list ng-if="shipping_methods">
        <ion-checkbox class="shipping-checkbox" ng-repeat="shipping in shipping_methods" ng-model="shipping_method.checked" ng-change="check(shipping.id)" ng-true-value="'{{shipping.id}}'" ng-false-value="">{{shipping.title}} <span ng-if="shipping.cost > 0" class="pull-right shiiping-price">{{shipping.cost | number : 2}} DKK</span> </ion-checkbox>
        </ion-list>
      <div class="list">
        <div class="item item-divider">
          Summary ({{itemsCounter}} items)
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col">{{'SUBTOTAL'| translate }}:</div>
            <div class="col text-right">{{cartTotal | number : 2}} DKK</div>
          </div>
          <div class="row" ng-if="shippingTotal">
            <div class="col">{{'SHIPPING'| translate }}:</div>
            <div class="col text-right">{{shippingTotal | number : 2}} DKK</div>
          </div>
          <div class="row">
            <div class="col">{{'TOTAL'| translate }}:</div>
            <div class="col text-right">{{(cartTotal * 1) + (shippingTotal * 1) | number : 2 }} DKK</div>
          </div>
        </div>
        <div class="item item-divider">
          Total: {{(cartTotal * 1) + (shippingTotal * 1) | number : 2 }} DKK
        </div>
      </div>
    </div>
    <div class="content padding" ng-init="fireEvent()" ng-if="items.length > 0">
    <button class="button button-block button-stable" ng-click="clear()">
      {{'CLEAR'| translate }}
        </button>
        <a href="#/app/cart/checkout">
          <button class="button button-block button-positive">
            {{'CHECKOUT'| translate }}
        </button>
        </a>
        
    </div>
    

  </ion-content>

</ion-view>