<ion-view cache-view="false" enable-menu-with-back-views="true" view-title="{{'MENU'| translate }}">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()">
    </ion-refresher>
    <div class="list">
        <a ng-repeat="category in categories"  class="item item-thumbnail-left item-icon-right" href="#/app/categories/{{category.id}}/{{category.name}}">
            
          <img ng-src="{{category.image.src}}">
          <h2>{{category.name}}</h2>
          <p>{{category.description}}</p>
            <i class="icon ion-ios-arrow-right"></i>
        </a>
      </div>
  </ion-content>
</ion-view>