<ion-view cache-view="false" view-title="{{'CHECKOUT'| translate }}">
  <ion-content>
    <form name="checkoutForm" novalidate="" ng-submit="doPay(checkoutForm)">
    <div class="card">
      <div class="item item-divider">
        {{'PERSONAL_INFORMATION'| translate }}
      </div>
        <div class="list">
          <label class="item item-input" ng-class="{ 'has-errors' : checkoutForm.first_name.$invalid, 'no-errors' : checkoutForm.first_name.$valid}">
            <span class="input-label">{{'FIRSTNAME'| translate }}</span>
            <input type="text" name="first_name" ng-model='user.billing.first_name' ng-minlength="5" ng-maxlength="20" required>
          </label>
          <div ng-if="checkoutForm.first_name.$error" ng-init="error=checkoutForm.first_name.$error" ng-include src="'templates/error-list.html'">
          </div>
          <label class="item item-input" ng-class="{ 'has-errors' : checkoutForm.last_name.$invalid, 'no-errors' : checkoutForm.last_name.$valid}">
            <span class="input-label">{{'LASTNAME'| translate }}</span>
            <input type="text" name="last_name" ng-model='user.shipping.last_name' required ng-minlength="5" ng-maxlength="20">
          </label>
          <div ng-if="checkoutForm.last_name.$error && checkoutForm.$submitted" ng-init="error=checkoutForm.last_name.$error" ng-include src="'templates/error-list.html'">
          </div>
          <label class="item item-input" ng-class="{ 'has-errors' : checkoutForm.address.$invalid, 'no-errors' : checkoutForm.address.$valid}">
            <span class="input-label">{{'ADDRESS'| translate }}</span>
            <input type="text" name="address"ng-model='user.shipping.address_1' required ng-minlength="5" ng-maxlength="20">
          </label>
          <div ng-if="checkoutForm.address.$error && checkoutForm.$submitted" ng-init="error=checkoutForm.address.$error" ng-include src="'templates/error-list.html'">
          </div>
          <label class="item item-input" ng-class="{ 'has-errors' : checkoutForm.email.$invalid, 'no-errors' : checkoutForm.email.$valid}">
            <span class="input-label">{{'EMAIL'| translate }}</span>
            <input type="email" name="email" ng-model='user.email' required>
          </label>
          <div ng-if="checkoutForm.email.$error && checkoutForm.$submitted" ng-init="error=checkoutForm.email.$error;" ng-include src="'templates/error-list.html'">
          </div>
          <label class="item item-input" ng-class="{ 'has-errors' : checkoutForm.phone.$invalid, 'no-errors' : checkoutForm.phone.$valid}">
            <span class="input-label">{{'PHONE'| translate }}</span>
            <input type="text" name="phone" ng-model='user.billing.phone' required>
          </label>
          <div ng-if="checkoutForm.phone.$error && checkoutForm.$submitted" ng-init="error=checkoutForm.phone.$error" ng-include src="'templates/error-list.html'">
          </div>
          <label class="item item-input">
            <span class="input-label">{{'DATE'| translate }}</span>
            <input type="datetime-local" ng-model='checkout.date'>
          </label>
          <label class="item item-input">
            <span class="input-label">{{'MESSAGE'| translate }}</span>
            <textarea placeholder="Message here" rows="5" ng-model='checkout.message'></textarea>
          </label>
        </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        {{'PAYMENT'| translate }}
      </div>
        <div class="list">
            <ion-checkbox ng-repeat="type in paymentTypes" ng-model="paymentType.checked" ng-change="check()" ng-true-value="'{{type.id}}'" ng-false-value="">{{type.title}}</ion-checkbox>
        </div>
    </div>
    <div class="card">
        <div class="item item-divider">
            <span ng-click="openTerms()" class="terms-conds"> {{'TERMS_COND'| translate }}</span>
        </div>
          <div class="list" ng-class="{ 'has-errors' : checkoutForm.terms.$invalid, 'no-errors' : checkoutForm.terms.$valid}"> 
              <ion-checkbox required="required" ng-model="terms" name="terms"> {{'ACCEPT_TERMS'| translate }}*</ion-checkbox> 
          </div>
      </div>
      <div ng-if="checkoutForm.terms.$error && checkoutForm.$submitted" ng-init="error=checkoutForm.terms.$error" ng-include src="'templates/error-list.html'"></div>      
    <div class="content padding">
    <button type="submit" class="button button-block button-positive" >
      {{'CONFIRM'| translate }}
        </button>
    </div>
    </form>

  </ion-content>
</ion-view>
