<ion-view view-title="{{'CONTACT'| translate }}">
  <ion-content>
    <div class="list card">

  <a class="item item-icon-left">
    <i class="icon ion-home"></i>
    {{config.address.address}} {{config.address.zip_code}} {{config.address.city}}
  </a>

  <a class="item item-icon-left" href="tel:{{config.phone_number}}">
    <i class="icon ion-ios-telephone"></i>
    {{config.phone_number}}
  </a>
  <a ui-sref="app.contact-map" class="item item-icon-left">
    <i class="icon ion-map"></i>
    {{'VIEW_MAP'| translate }}
  </a>
  
</div>
<form name="contactForm" novalidate="" ng-submit="send(contactForm)">
<div class="list list-inset">

  
    <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : contactForm.firstname.$invalid, 'no-errors' : contactForm.firstname.$valid}">
    <span class="input-label">{{'FIRSTNAME'| translate }}</span>
    <input type="text" name="firstname" placeholder="John" ng-model="sendData.firstname" required>
  </label>
  <div ng-if="contactForm.firstname.$error && contactForm.$submitted" ng-init="error=contactForm.firstname.$error" ng-include src="'templates/error-list.html'"></div>
  
  <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : contactForm.lastname.$invalid, 'no-errors' : contactForm.lastname.$valid}">
    <span class="input-label">{{'LASTNAME'| translate }}</span>
    <input type="text" name="lastname" placeholder="Doe" ng-model="sendData.lastname" required>
  </label>
  <div ng-if="contactForm.lastname.$error && contactForm.$submitted" ng-init="error=contactForm.lastname.$error" ng-include src="'templates/error-list.html'"></div>
    
  <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : contactForm.email.$invalid, 'no-errors' : contactForm.email.$valid}">
    <span class="input-label">{{'EMAIL'| translate }}</span>
    <input type="email" name="email" placeholder="john@suhr.com" ng-model="sendData.email" required>
  </label>
  <div ng-if="contactForm.email.$error && contactForm.$submitted" ng-init="error=contactForm.email.$error" ng-include src="'templates/error-list.html'"></div>
    
  <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : contactForm.message.$invalid, 'no-errors' : contactForm.message.$valid}">
	<span class="input-label">{{'MESSAGE'| translate }}</span>

  <textarea placeholder="Message here" rows="5" name="message" ng-minlength="20" ng-model="sendData.message" required></textarea>
  <div ng-if="contactForm.message.$error && contactForm.$submitted" ng-init="error=contactForm.message.$error" ng-include src="'templates/error-list.html'"></div>
    
</label>
</div>
<div class="padding">
        <button class="button button-block button-positive" type="submit">{{'SEND'| translate }}</button>
      </div>
    </form>
  </ion-content>
</ion-view>