<ion-view view-title="{{'MAP'| translate }}">
  <ion-content>
      <div class="google-maps" >
      <iframe id="googleMap" width="100%" onLoad="uploadDone();" ng-style="{height: hgt+ 'px'}" ng-src="{{ config.map_url | trustAsResourceUrl }}"></iframe>
    </div>
</ion-view>