<div class="error" ng-if="error.required">
        <i class="ion-information-circled"></i> 
  This field is required!
</div>
<div class="error" ng-if="error.minlength">
  <i class="ion-information-circled"></i> 
  Minimum length of this field is {{5}} characters!
</div>
<div class="error" ng-if="error.maxlength">
  <i class="ion-information-circled"></i> 
  Maximum length of this field is 20 characters!
</div>
<div class="error" ng-if="error.email">
  <i class="ion-information-circled"></i> 
  Invalid email address
</div>