<ion-view ache-view="false" view-title="{{'HOME'| translate }}">
  <ion-content class="home-content home-image">

  </ion-content>
    <div class="card home-card-hours">
        <div class="item item-text-wrap">
            <p>Åbningstider</p>
            <div ng-bind-html="config.working_hours_display">

            </div>
            <!-- <p>Mandag - Lørdag:</p>
            <p>kl. 11:00-22:00 </p>

            <p>Søndag:</p>
            <p>kl. 12:00-22:00 </p> -->
        </div>
    </div>
    <div class="card home-card">
        <div class="item item-text-wrap " ng-click="goToCategories()">
            Bestil Online
        </div>
    </div>
    <button ng-show="!isOpen()" class="button button-full button-assertive home-button" >
      {{config.working_hours.woc_message}} :(
    </button>
</ion-view>