<ion-modal-view>
  <ion-header-bar>
    <h1 class="title secondary-color">{{'LOGIN'| translate }}</h1>
    <button class="button button-clear button-primary" style="color:white" ng-click="closeLogin()">{{'CLOSE'| translate }}</button>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">{{'USERNAME'| translate }}</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">{{'PASSWORD'| translate }}</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <div class="item">

        
          <input class="button button-block button-positive" type="submit" value="{{'LOGIN'| translate }}">
          <button type="button" class="button button-block button-positive" ng-click="register();">{{'REGISTER'| translate }}</button>
        </div>  
      </div>
    </form>
  </ion-content>
</ion-modal-view>
