<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
        <!-- TABS -->
    <ion-tabs class="tabs-icon-top">
        <ion-tab title="{{'HOME'| translate }}" icon-off="ion-home" icon-on="ion-home" href="#/app/home">
            <ion-nav-view name="tab-home"></ion-nav-view>
      </ion-tab>
      
      <ion-tab title="{{'MENU'| translate }}" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/app/categories">
        <ion-nav-view name="tab-menu"></ion-nav-view>
      </ion-tab>

      <ion-tab title="{{'MY_ACCOUNT'| translate }}" icon-off="ion-ios-person" icon-on="ion-ios-person" href="#/app/my-account">
        <ion-nav-view name="tab-account"></ion-nav-view>
      </ion-tab>
        
        

      <ion-tab title="{{'CART'| translate }}" icon-off="ion-ios-cart" icon-on="ion-ios-cart" badge-style="badge-assertive" badge="itemsCounter" href="#/app/cart">
        <ion-nav-view name="tab-cart"></ion-nav-view>
      </ion-tab>
      <ion-tab title="General" class="tab-hidden" on-deselect="clearHistory()">
            <ion-nav-view name="tab-general"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">{{'MENU'| translate }}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-left" menu-close href="#/app/home">
         <i class="icon ion-home"></i>
          {{'HOME'| translate }}
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/blog">
          <i class="icon ion-ios-list"></i>
          {{'BLOG'| translate }}
         </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/categories">
        <i class="icon ion-pizza"></i>
          {{'SHOP'| translate }}
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/contact">
        <i class="icon ion-email"></i>
          {{'CONTACT'| translate }}
        </ion-item>
        <ion-item class="item-icon-left" menu-close ng-click="terms()">
        <i class="icon ion-ios-paper"></i>
          {{'TERMS_COND'| translate }}
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<!--<div class="tabs tabs-icon-top">
  <a class="tab-item" ng-click="home()">
    <i class="icon ion-home"></i>
      Home
  </a>
  <a class="tab-item"ng-click="account()">
    <i class="icon ion-ios-person"></i>
      My Account
  </a>
    <a class="tab-item">
    <i class="icon ion-ios-search"></i>
        Search
  </a>
  <a  class="tab-item" id="niki" ng-click="cart($event)">
    <i class="icon ion-ios-cart badge-container"><span class="badge badge-assertive">3</span></i>
      Cart
  </a>
</div>-->
