<ion-view view-title="{{'MY_ACCOUNT'| translate }}" enable-menu-with-back-views="false">
  <ion-content ng-show="show">
    <div class="list">
    <a class="item item-icon-left" href="#/app/my-account/profile">
      <i class="icon ion-ios-person"></i>
      {{'MY_PROFILE'| translate }}
    </a>
    <a class="item item-icon-left" href="#/app/my-account/orders">
      <i class="icon ion-bag"></i>
      {{'MY_ORDERS'| translate }}
    </a>
<!--     <div class="item item-divider">
          Addresses
        </div> -->
    <a class="item item-icon-left" href="#/app/my-account/billing-address">
      <i class="icon ion-ios-home"></i>
      {{'ADDRESS'| translate }}
    </a>
<!--     <a class="item item-icon-left" href="#/app/my-account/shipping-address">
      <i class="icon ion-ios-home-outline"></i>
      Shipping Address
    </a> -->

  </div>
  <div class="padding">
      <button class="button button-block button-positive logout-button" ng-click="logout()">
        {{'LOGOUT'| translate }}
        </button>
    </div>
    
  </ion-content>
</ion-view>