<ion-view cache-view="false">
    <ion-nav-title ng-model="productName">
      {{productName}}
    </ion-nav-title>
  <ion-content>
      <div class="list card">

        <div class="item">
            <h2>{{productName}}</h2>
            <span ng-bind-html="currentProduct.description"></span>
        </div>

<!--         <div class="item item-body">
            <img class="full-image" ng-src="{{currentProduct.images[0].src}}"> 
                
            
        </div> -->
        <div class="item" ng-if="productPrice && hasExtra" ng-click="showExtras()" ng-show="addons != null">
           <i ng-class="iconClass" ></i> {{'SHOW_EXTRA'| translate }}
            
        </div>

        <ion-list ng-show="isVariation">
            <ion-checkbox ng-repeat="addon in addons" ng-model="variation.checked" ng-true-value="'{{addon.value}}'" ng-false-value="" ng-click="variationPrice($event,addon.price)" >{{addon.label}} (DKK {{addon.price | number:2}})</ion-checkbox>
        </ion-list>

        <ion-list ng-show="isShown">
            <ion-checkbox ng-repeat="addon in addons" ng-click="addonPrice($event,addon.price)" ng-value="addon.value">{{addon.label}} (DKK {{addon.price | number:2}})</ion-checkbox>
        </ion-list>

        <div class="item item-footer">
            <div class="row">
                <div class="col">{{'QUANTITY'| translate }}:</div>
                <div class="col text-right">
               <div class="button-bar pull-right">
                <a class="button button-positive" ng-click="decQty()"><</a>
                <a class="button disabled button-counter">{{quantity}}</a>
                <a class="button button-positive" ng-click="incQty()">></a>
                </div>
                </div>
            </div>
        </div>
        <div class="item item-footer">
            <div class="row">
                <div class="col col-50"><button ng-click="addToCart()" class="button button-positive icon-left ion-ios-cart">{{'ADD_TO_CART'| translate }}</button></div>
                <div class="col text-right"><i class="icon ion-pricetag"></i> {{productPrice | number : 2}} DKK</div>
            </div>
        </div>

        </div>
  </ion-content>
</ion-view>