<ion-view cache-view="false">
    <ion-nav-title ng-model="categoryName">
      {{categoryName}}
    </ion-nav-title>
  <ion-content>
    <div class="list">
      <a ng-repeat="product in products" ng-click="setCurrentProduct(product)"  class="item item-icon-right" ng-href="#/app/categories/product/{{product.id}}/{{decodeURIComponent(product.name)}}">
        <span>{{product.name}}</span>
        <span ng-if="product.price != 0" ng-bind-html="product.price_html" class="pull-right"></span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
      <!-- <div class="row item" ng-repeat="product in products">
          <div class="col col-50">
            <a ng-href="#/app/categories/product/{{product.id}}/{{product.name}}" ng-click="setCurrentProduct(product)">
              <h3>{{product.name}}</h3>
                <div ng-bind-html="product.description">
                  
          </div>
          </a>
                  </div>
                  <div class="col product-price">
                    <div ng-bind-html="product.price_html"></div>
                  </div>
          <div class="col">
            <button class="button button-icon add-to-cart-button" ng-click="addToCart(product)">
            <i class="icon ion-ios-cart" ><span class="badge badge-balanced icon-badge">+</span></i>
          </button></div>
      </div> -->
  </ion-content>
</ion-view>