<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{'REGISTER'| translate }}</h1>
    <div class="buttons">
      <button class="button button-clear" style="color:white"  ng-click="closeRegister()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="registerForm" novalidate="" ng-submit="doRegister(registerForm)">
      <div class="list">
        <label class="item item-input" ng-class="{ 'has-errors' : registerForm.username.$invalid, 'no-errors' : registerForm.username.$valid}">
          <span class="input-label">{{'USERNAME'| translate }}</span>
          <input type="text" name="username" ng-model="registerData.username" required ng-minlength="6">
        </label>
        <div ng-if="registerForm.username.$error && registerForm.$submitted"ng-init="error=registerForm.username.$error" ng-include src="'templates/error-list.html'">
        </div>
          <label class="item item-input" ng-class="{ 'has-errors' : registerForm.email.$invalid, 'no-errors' : registerForm.email.$valid}">
          <span class="input-label">{{'EMAIL'| translate }}</span>
          <input type="email" name="email" ng-model="registerData.email" required>
        </label>
        <div ng-if="registerForm.email.$error && registerForm.$submitted" ng-init="error=registerForm.email.$error" ng-include src="'templates/error-list.html'">
        </div>
        <label class="item item-input" ng-class="{ 'has-errors' : registerForm.password.$invalid, 'no-errors' : registerForm.password.$valid}">
          <span class="input-label">{{'PASSWORD'| translate }}</span>
          <input type="password" name="password" ng-model="registerData.password" required ng-minlength="6" ng-maxlength="20">
        </label>
        <div ng-if="registerForm.password.$error && registerForm.$submitted" ng-init="error=registerForm.password.$error" ng-include src="'templates/error-list.html'">
        </div>
        <label class="item">
          <button class="button button-block button-positive" type="submit">{{'REGISTER'| translate }}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
