<ion-modal-view>
  <ion-header-bar>
    <h1 class="title secondary-color">{{'TERMS_COND'| translate }}</h1>
    <button class="button button-clear button-primary" style="color:white" ng-click="modal.hide()">Close</button>
  </ion-header-bar>
  <ion-content>
      <div class="card">
          <div class="item item-text-wrap">
              <h1 ng-bind-html="termsContent.title.rendered"></h1>
              <div ng-bind-html="termsContent.content.rendered"></div>
          </div>
        </div>
    
  </ion-content>
</ion-modal-view>
