<ion-view view-title="Billing Address">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        {{'ADDRESS'| translate }}
      </div>
      <form name="addressForm" novalidate="" ng-submit="update_address(addressForm)">
        <div class="list">
          <label class="item item-input" ng-class="{ 'has-errors' : addressForm.first_name.$invalid, 'no-errors' : addressForm.first_name.$valid}">
            <span class="input-label">{{'FIRSTNAME'| translate }}</span>
            <input type="text" name="first_name" ng-model='user.billing.first_name' ng-minlength="5" ng-maxlength="20" required>
          </label>
          <div ng-if="addressForm.first_name.$error" ng-init="error=addressForm.first_name.$error" ng-include src="'templates/error-list.html'">
          </div>
          <label class="item item-input" ng-class="{ 'has-errors' : addressForm.last_name.$invalid, 'no-errors' : addressForm.last_name.$valid}">
            <span class="input-label">{{'LASTNAME'| translate }}</span>
            <input type="text" ng-model="user.billing.last_name" name="last_name" required>
          </label>
          <div ng-if="addressForm.last_name.$error" ng-init="error=addressForm.last_name.$error" ng-include src="'templates/error-list.html'">
          </div>
          <label class="item item-input" ng-class="{ 'has-errors' : addressForm.address_1.$invalid, 'no-errors' : addressForm.address_1.$valid}">
            <span class="input-label">{{'ADDRESS'| translate }}</span>
            <input type="text" ng-model="user.billing.address_1" name="address_1" required>
          </label>
          <div ng-if="addressForm.address_1.$error" ng-init="error=addressForm.address_1.$error" ng-include src="'templates/error-list.html'">
          </div>
          <label class="item item-input" ng-class="{ 'has-errors' : addressForm.phone.$invalid, 'no-errors' : addressForm.phone.$valid}">
            <span class="input-label">{{'PHONE'| translate }}</span>
            <input type="text" ng-model="user.billing.phone" name="phone" required>
          </label>
          <div ng-if="addressForm.phone.$error" ng-init="error=addressForm.phone.$error" ng-include src="'templates/error-list.html'">
          </div>
<!--           <label class="item item-input">
            <span class="input-label">{{'CITY'| translate }}</span>
            <input type="text" ng-model="user.billing.city" name="city">
          </label>
          <label class="item item-input">
            <span class="input-label">{{'POSTCODE'| translate }}</span>
            <input type="text" ng-model="user.billing.postcode" name="postcode">
          </label> -->
          <div class="padding">
            <button class="button button-block button-positive ng-binding" type="submit">
              {{'UPDATE'| translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>