<ion-view view-title="Orders">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()">
    </ion-refresher>
    <ion-list>
      <div class="list" ng-if="orders.length > 0" >
        
      <div class="row item">
        <div class="col col-10"></div>
        <div class="col col-40">Date</div>
        <div class="col col-20">Status</div>
        <div class="col col-30">Total</div>
      </div>
        <div class="row item" ng-if="orders != []" ng-repeat="order in orders" ng-click="go(order.id)" >
          <div class="col col-10"> {{order.id}} </div>
          <div class="col col-40">{{order.date_created |date}} <br/> {{order.date_created |date : 'shortTime'}} </div>
          <div class="col col-20">{{order.status}} </div>
          <div class="col col-30 text-right" >{{order.total}} {{order.currency}}</div>
        </div>
    </div>
    <p ng-if="orders.length == 0" class="text-center">No Any Orders yet</p>
    </ion-list>
  </ion-content>
</ion-view>