<ion-view view-title="Order Detail">
  <ion-content>
    <div class="row item">
        <div class="col">Product</div>
        <div class="col text-right">Total</div>
      </div>

        <div class="row item" ng-repeat="product in order.line_items" >
          <div class="col"> 
            {{product.name}} x {{product.quantity}} <br> 
            <div  ng-repeat="addon in product.meta">
                + <label ng-bind-html="addon.label">
            </div>
          </div>
          <div class="col text-right">{{order.currency}} {{product.total}}</div>
        </div>
        <div class="row item">
          <div class="col"> 
            Subtotal:
          </div>
          <div class="col text-right">{{order.currency}} {{order.total}}</div>
        </div>
        <div class="row item">
          <div class="col"> 
            Payment method:
          </div>
          <div class="col text-right">{{order.currency}} {{order.payment_method}}</div>
        </div>
        <div class="row item">
          <div class="col"> 
            Total:
          </div>
          <div class="col text-right">{{order.currency}} {{order.total}}</div>
        </div>
  </ion-content>
</ion-view>