<ion-view view-title="Profile">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        {{'PERSONAL_INFORMATION'| translate }}
      </div>
      <form name="profileForm" novalidate="" ng-submit="update_profile(profileForm)">
        <div class="list">
          <label class="item item-input" ng-class="{ 'has-errors' : profileForm.first_name.$invalid, 'no-errors' : profileForm.first_name.$valid}">
            <span class="input-label">{{'FIRSTNAME'| translate }}</span>
            <input type="text" name="first_name" ng-model='user.first_name' ng-minlength="5" ng-maxlength="20" required>
          </label>
          <div ng-if="profileForm.first_name.$error" ng-init="error=profileForm.first_name.$error" ng-include src="'templates/error-list.html'">
          </div>
          <label class="item item-input" ng-class="{ 'has-errors' : profileForm.last_name.$invalid, 'no-errors' : profileForm.last_name.$valid}">
            <span class="input-label">{{'LASTNAME'| translate }}</span>
            <input type="text" name="last_name" ng-model='user.last_name' ng-minlength="5" ng-maxlength="20" required>
          </label>
          <div ng-if="profileForm.last_name.$error" ng-init="error=profileForm.last_name.$error" ng-include src="'templates/error-list.html'">
          </div>
          <label class="item item-input">
            <span class="input-label">{{'USERNAME'| translate }}</span>
            <input type="text" ng-model='user.username' readonly>
          </label>
          <label class="item item-input">
            <span class="input-label">{{'EMAIL'| translate }}</span>
            <input type="text" ng-model='user.email' readonly>
          </label>
          <div class="padding">
            <button class="button button-block button-positive ng-binding" type="submit">
              {{'UPDATE'| translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>