<ion-view view-title="Shipping Address">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Shipping Address
      </div>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Firstname</span>
            <input type="text" ng-model="user.shipping.first_name">
          </label>
          <label class="item item-input">
            <span class="input-label">Lastname</span>
            <input type="text" ng-model="user.shipping.last_name">
          </label>
          <label class="item item-input">
            <span class="input-label">Address</span>
            <input type="text" ng-model="user.shipping.address_1">
          </label>
          <label class="item item-input">
            <span class="input-label">City</span>
            <input type="text" ng-model="user.shipping.city">
          </label>
          <label class="item item-input">
            <span class="input-label">Postcode</span>
            <input type="text" ng-model="user.shipping.postcode">
          </label>
        </div>
    </div>
  </ion-content>
</ion-view>