/* Empty. Add your own CSS if you like */
.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }
.badge-container{
      position: relative;
}
.center {
    text-align: center
}
.cart-icon{
    font-size: 200px;
}
.webPage{
  width: 100%;
  height: 100%;
  border: 2px solid #EAAB00;
  padding: 1rem;}
  .item .icon .icon-badge {
  position: absolute;
  top: 3px;
  right: 0px;
  font-size: 8px;
}
.product-price {
  margin: auto;
}
.add-to-cart-button {
  float: right;
}
.pull-right{
  float: right;
}
.text-right{
  float: right;
}
.button-counter{
  opacity: 1 !important;
}
.shipping-checkbox {
  padding-right: 25px;
}
.home-content {
  background-color: RgB(222,198,168);
  color: RgB(222,198,168) !important;
}
.bar-header {
  background-color: rgb(103,72,61) !important;
  color: RgB(222,198,168);
}
.tabs {
  background-color: rgb(103,72,61) !important;
  color: RgB(222,198,168);
}
/* ion-content{
  background-color: RgB(222,198,168);
} */
/* .item {
  background-color: RgB(222,198,168);
  border-color: rgb(103,72,61);
} */
.bar {
  border-bottom: 0px;
}
.bar.bar-stable .title {
  color: RgB(222,198,168);
}
.bar-stable .button.button-clear {
  color: RgB(222,198,168);
}
/* .item-complex .item-content { 
  background-color: RgB(222,198,168);
  color: rgb(103,72,61);
} */

.error-container {
  margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}
#payment-div{
  margin: 20px;
}
.home-image{
  background-image: url("../img/armandos.png");
  background-size: cover;
}
.home-button {
  position: absolute;
  bottom: 39px;
}
.list .icon {
  color: #67483d !important;
}
.terms-conds {
  text-decoration: underline;
}
.secondary-color {
  color: #dec6a8 !important;
}
.home-card-hours{
  background-color: #dec6a8 !important;
  right: 0px;
  left: 0px;
  margin-right: 20%;
  margin-left: 20%;
  bottom: 200px;
  position: absolute;
  border-radius: 10px;
}
.home-card-hours .item{
  padding: 30px;
  background-color: #dec6a8 !important;
  color: #67483d !important;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.home-card{
  background-color: #dec6a8 !important;
  right: 0px;
  left: 0px;
  margin-right: 20%;
  margin-left: 20%;
  bottom: 100px;
  position: absolute;
  border-radius: 10px;
}
.home-card .item{
  padding: 30px;
  background-color: #dec6a8 !important;
  color: #67483d !important;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}